In [18]:
import pandas as pd
import numpy as np

In [30]:
features = np.load('features.npy')
features.shape

(3669, 2692)

In [181]:
df1 = pd.read_csv("pharos_drugs_actives_27.csv", usecols=[1, 2, 3])
df1.dropna(inplace=True)
df2 = pd.read_csv('pharos_drugs.csv')

df3 = pd.read_csv("pharos_drugs_actives_35.csv", usecols=[0, 1, 3])
df3.dropna(inplace=True)
df4 = pd.read_csv('backup/pharos_drugs_features.csv')

In [251]:
df5 = pd.read_csv("pharos_drug_activity.csv", usecols=[0, 1, 2, 6])

In [252]:
len(df1), len(df2), len(df3), len(df4), len(df5)

(3664, 3674, 3664, 3669, 3867)

In [253]:
df5.head()

,id,target_id,drug,smiles
0,1,11838,elobixibat,CCCCC1(CCCC)CN(C2=CC=CC=C2)C2=C(C=C(OCC(=O)N[C...
1,2,3299,tezacaftor,CC(C)(CO)C1=CC2=C(C=C(F)C(NC(=O)C3(CC3)C3=CC=C...
2,3,6977,macimorelin,[H]C(=O)N[C@@H](CC1=CNC2=C1C=CC=C2)NC(=O)[C@@H...
3,4,13260,copanlisib,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...
4,5,13069,copanlisib,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...

In [254]:
smiles_to_drug_names = dict(zip(df5.smiles, df5.drug))

In [184]:
df3.head()

,target_id,smiles,actives
0,11838,CCCCC1(CCCC)CN(C2=CC=CC=C2)C2=C(C=C(OCC(=O)N[C...,"['P15121', 'P42330', 'Q9BYF1', 'P12821', 'P180..."
1,3299,CC(C)(CO)C1=CC2=C(C=C(F)C(NC(=O)C3(CC3)C3=CC=C...,"['P08235', 'P53779', 'O15055']"
2,6977,[H]C(=O)N[C@@H](CC1=CNC2=C1C=CC=C2)NC(=O)[C@@H...,"['Q92847', 'Q6B0I6', 'Q96FL8', 'Q13526', 'Q6DW..."
3,13260,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...,[]
4,13069,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...,[]

In [186]:
commmon_ids = df1.smiles.isin(df3.smiles)
df1 = df1[commmon_ids]
df3 = df3[commmon_ids]

In [195]:
actives = df1.actives.apply(lambda x: x[1:-1].split(',') if x!='[]' else []) + df3.actives.apply(lambda x: x[1:-1].split(',') if x!='[]' else [])

In [199]:
df1['actives'] = actives.apply(lambda x: ','.join(x))

In [200]:
df1.head()

,target_id,smiles,actives
0,11838,CCCCC1(CCCC)CN(C2=CC=CC=C2)C2=C(C=C(OCC(=O)N[C...,"'Q8WUI4','P15121', 'P42330', 'Q9BYF1', 'P12821..."
1,3299,CC(C)(CO)C1=CC2=C(C=C(F)C(NC(=O)C3(CC3)C3=CC=C...,"'P35916','P08235', 'P53779', 'O15055'"
2,6977,[H]C(=O)N[C@@H](CC1=CNC2=C1C=CC=C2)NC(=O)[C@@H...,"'Q92847', 'Q6B0I6', 'Q96FL8', 'Q13526', 'Q6DWJ..."
3,13260,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...,"'P42336', 'P42338'"
4,13069,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...,"'P42336', 'P42338'"

In [201]:
targets = pd.read_csv("../../../Pharos/targets.csv")
targets.head()

,id,name,tdl,fam,famext
0,2,14-3-3 protein eta,Tchem,NaN,NaN
1,3,14-3-3 protein theta,Tchem,NaN,NaN
2,23,3 beta-hydroxysteroid dehydrogenase/Delta 5-->...,Tchem,Enzyme,3-beta-HSD
3,26,5-hydroxytryptamine receptor 2B,Tclin,GPCR,GPCR
4,27,5-hydroxytryptamine receptor 2C,Tclin,GPCR,GPCR

In [202]:
import json

In [215]:
protein_to_uniprot = json.load(open('../../../Pharos/protein_to_uniprot.json', 'r'))

In [218]:
targets['uniprot_id'] = targets.name.apply(lambda x: protein_to_uniprot[x])
targets.head()

,id,name,tdl,fam,famext,uniprot_id
0,2,14-3-3 protein eta,Tchem,NaN,NaN,Q04917
1,3,14-3-3 protein theta,Tchem,NaN,NaN,P27348
2,23,3 beta-hydroxysteroid dehydrogenase/Delta 5-->...,Tchem,Enzyme,3-beta-HSD,P14060
3,26,5-hydroxytryptamine receptor 2B,Tclin,GPCR,GPCR,P41595
4,27,5-hydroxytryptamine receptor 2C,Tclin,GPCR,GPCR,P28335

In [245]:
target_id_to_uniprot_id = dict(zip(targets.id, targets.uniprot_id))
target_id_to_name = dict(zip(targets.id, targets.name))

In [228]:
df1['true_actives'] = df2.target_id.apply(lambda x: target_id_to_uniprot_id[x])
df1.head()

,target_id,smiles,actives,true_actives
0,11838,CCCCC1(CCCC)CN(C2=CC=CC=C2)C2=C(C=C(OCC(=O)N[C...,"'Q8WUI4','P15121', 'P42330', 'Q9BYF1', 'P12821...",Q12908
1,3299,CC(C)(CO)C1=CC2=C(C=C(F)C(NC(=O)C3(CC3)C3=CC=C...,"'P35916','P08235', 'P53779', 'O15055'",P13569
2,6977,[H]C(=O)N[C@@H](CC1=CNC2=C1C=CC=C2)NC(=O)[C@@H...,"'Q92847', 'Q6B0I6', 'Q96FL8', 'Q13526', 'Q6DWJ...",Q92847
3,13260,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...,"'P42336', 'P42338'",P42336
4,13069,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...,"'P42336', 'P42338'",O00329

In [248]:
df1['target_name'] = df2.target_id.apply(lambda x: target_id_to_name[x])
df1.head()

,target_id,smiles,actives,true_actives,target_name
0,11838,CCCCC1(CCCC)CN(C2=CC=CC=C2)C2=C(C=C(OCC(=O)N[C...,"'Q8WUI4','P15121', 'P42330', 'Q9BYF1', 'P12821...",Q12908,Ileal sodium/bile acid cotransporter
1,3299,CC(C)(CO)C1=CC2=C(C=C(F)C(NC(=O)C3(CC3)C3=CC=C...,"'P35916','P08235', 'P53779', 'O15055'",P13569,Cystic fibrosis transmembrane conductance regu...
2,6977,[H]C(=O)N[C@@H](CC1=CNC2=C1C=CC=C2)NC(=O)[C@@H...,"'Q92847', 'Q6B0I6', 'Q96FL8', 'Q13526', 'Q6DWJ...",Q92847,Growth hormone secretagogue receptor type 1
3,13260,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...,"'P42336', 'P42338'",P42336,"Phosphatidylinositol 4,5-bisphosphate 3-kinase..."
4,13069,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...,"'P42336', 'P42338'",O00329,"Phosphatidylinositol 4,5-bisphosphate 3-kinase..."

In [256]:
df1['drug_name'] = df2.smiles.apply(lambda x: smiles_to_drug_names[x])

In [257]:
df1.head()

,target_id,smiles,actives,true_actives,target_name,drug_name
0,11838,CCCCC1(CCCC)CN(C2=CC=CC=C2)C2=C(C=C(OCC(=O)N[C...,"'Q8WUI4','P15121', 'P42330', 'Q9BYF1', 'P12821...",Q12908,Ileal sodium/bile acid cotransporter,elobixibat
1,3299,CC(C)(CO)C1=CC2=C(C=C(F)C(NC(=O)C3(CC3)C3=CC=C...,"'P35916','P08235', 'P53779', 'O15055'",P13569,Cystic fibrosis transmembrane conductance regu...,tezacaftor
2,6977,[H]C(=O)N[C@@H](CC1=CNC2=C1C=CC=C2)NC(=O)[C@@H...,"'Q92847', 'Q6B0I6', 'Q96FL8', 'Q13526', 'Q6DWJ...",Q92847,Growth hormone secretagogue receptor type 1,macimorelin
3,13260,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...,"'P42336', 'P42338'",P42336,"Phosphatidylinositol 4,5-bisphosphate 3-kinase...",copanlisib
4,13069,COC1=C(OCCCN2CCOCC2)C=CC2=C1N=C(NC(=O)C1=CN=C(...,"'P42336', 'P42338'",O00329,"Phosphatidylinositol 4,5-bisphosphate 3-kinase...",copanlisib

In [258]:
df1.to_csv('final_results_v2.csv', index=None)

In [259]:
pwd

'/data2/mhassan/LigandNet/prediction/pharos_drugs'

In [242]:
def find_common(x):
    actives_list = x['actives'].split(',')
    if x['true_actives'] in actives_list: return True
    else: return False

In [244]:
df1[df1.apply(find_common, axis=1)]

Empty DataFrame
Columns: [target_id, smiles, actives, true_actives]
Index: []