In [124]:
import pandas as pd

In [133]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [125]:
df = pd.read_csv("final_results_v2.csv", usecols=[0, 2, 3, 4, 5])
df.drop_duplicates(subset=['actives', 'drug_name'], inplace=True)
df.head()

,target_id,actives,true_actives,target_name,drug_name
0,11838,"'Q8WUI4','P15121', 'P42330', 'Q9BYF1', 'P12821...",Q12908,Ileal sodium/bile acid cotransporter,elobixibat
1,3299,"'P35916','P08235', 'P53779', 'O15055'",P13569,Cystic fibrosis transmembrane conductance regu...,tezacaftor
2,6977,"'Q92847', 'Q6B0I6', 'Q96FL8', 'Q13526', 'Q6DWJ...",Q92847,Growth hormone secretagogue receptor type 1,macimorelin
3,13260,"'P42336', 'P42338'",P42336,"Phosphatidylinositol 4,5-bisphosphate 3-kinase...",copanlisib
5,3144,"'P42336', 'Q96GD4', 'P33981', 'Q14164', 'O4331...",P11802,Cyclin-dependent kinase 4,abemaciclib

In [126]:
df.dropna(subset=['actives', 'drug_name'], inplace=True)
len(df)

2452

Map actives to drugs

In [127]:
actives_to_drug = []
for li, drug in zip(df.actives.apply(lambda x: x.split(',')), df.drug_name):
    for act in li:
        actives_to_drug.append([act, drug])

In [128]:
final_df = pd.DataFrame.from_records(actives_to_drug, columns=['actives', 'drugs'])
final_df.dropna(inplace=True)
len(final_df)

40264

We don't want actives that appear more than 4 times

In [129]:
counts = final_df.groupby('actives').count() < 5
counts.head()

           drugs
actives
 'B2RXH2'  False
 'O00141'  False
 'O00255'   True
 'O00311'   True
 'O00329'  False

In [130]:
final_df = final_df.loc[counts.values.flatten()]

In [143]:
# Get rid of the "'" from actives 
final_df['actives'] = final_df.actives.apply(lambda x: x.split("'")[1])

In [144]:
final_df.head()

   actives       drugs
2   P42330  elobixibat
3   Q9BYF1  elobixibat
8   O60911  elobixibat
11  P06730  elobixibat
25  P37231  elobixibat

In [145]:
final_df.to_csv("actives_to_drug.csv", index=False)